h1{
    text-align:center;
}
.Scroll__TOP{
    position: fixed;
    bottom: 15%;
    right: 8%;
    z-index: 9;
    background: #007aff;
    padding:5px;
    border-radius: 5px;
    cursor: pointer;
    animation: ScroolToop 2s linear infinite;
    .fas{
        color: white;    
        font-size: 40px;
    }
}
@keyframes ScroolToop{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(10px);
    }
    75%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}